<div class="row">
  <div class="col-md-12">
    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
    <h3 class="page-title">
      Dashboard
      <small>statistics and more</small>
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <a href="/super_admin/dashboard">Home</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="/super_admin/dashboard">Dashboard</a>
      </li>

    </ul>
    <!-- END PAGE TITLE & BREADCRUMB-->
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat blue-madison">
      <div class="visual">
        <i class="fa fa-comments"></i>
      </div>
      <div class="details">
        <div class="number">
          <%= @customers_count %>
        </div>
        <div class="desc">
          Customers
        </div>
      </div>
      <a href="/super_admin/customers" class="more">
        View more <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat red-intense">
      <div class="visual">
        <i class="fa fa-bar-chart-o"></i>
      </div>
      <div class="details">
        <div class="number">
          <%= @drivers_count %>
        </div>
        <div class="desc">
          Drivers
        </div>
      </div>
      <a href="/super_admin/drivers" class="more">
        View more <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat green-haze">
      <div class="visual">
        <i class="fa fa-shopping-cart"></i>
      </div>
      <div class="details">
        <div class="number">
          <%= @delivered_jobs_count %>
        </div>
        <div class="desc">
          Delivered Jobs
        </div>
      </div>
      <a href="/super_admin/jobs" class="more">
        View more <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat purple-plum">
      <div class="visual">
        <i class="fa fa-globe"></i>
      </div>
      <div class="details">
        <div class="number">
          $<%= @ziply_revenue.round(2) %>
        </div>
        <div class="desc">
          Ziply Revenue
        </div>
      </div>
      <a href="#" class="more">
        <!--View more <i class="m-icon-swapright m-icon-white"></i>-->
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat purple-plum">
      <div class="visual">
        <i class="fa fa-globe"></i>
      </div>
      <div class="details">
        <div class="number">
          $<%= @driver_revenue.round(2) %>
        </div>
        <div class="desc">
          Driver Revenue
        </div>
      </div>
      <a href="#" class="more">
        <!--View more <i class="m-icon-swapright m-icon-white"></i>-->
      </a>
    </div>
  </div>
</div>