<section class="z_slider">
  <div class="slider-wrapper parallax">
    <ul class="main-slider bxslider">
      <li class="z-bg"></li>
      <li class="z-bg2"></li>
    </ul>
    <!-- main-slider -->
    <%= form_tag('javascript:void(0);') do |f| %>
        <div class="z-get-started spoz">
          <h1>Send it fast. Send it now.</h1>

          <div class="z_input_hold">
            <div class="z_field_block m-r-10">
              <%= text_field_tag :pick_location, nil, :class => "z_field_in", :placeholder => 'Pick Up Location (Address or Zip)' %>
            </div>
            <!--z_field_block-->
            <div class="z_field_block m-r-10">
              <!--<input class="z_field_in" type="text" placeholder="Destination (Address or Zip)">-->
              <%= text_field_tag :dest_location, nil, :class => "z_field_in", :id => "dest_location", :placeholder => "Destination (Address or Zip)" %>
            </div>
            <!--z_field_block-->
            <div class="z_field_time m-r-10">
              <!--<input class="z_field_img" type="text" placeholder="Pickup Time">-->
              <%= text_field_tag :pick_time, nil, :class => "z_field_img", :id => "pick_time", :placeholder => "Pickup Time", :style => "font-size:14px" %>
            </div>
            <!--z_field_time-->
            <!--<a class="z_orngbig_btn" href="#">Get Started</a>&lt;!&ndash;z_orngbig_btn&ndash;&gt;-->
            <%= link_to "Get Started", "javascript:;", :class => "z_orngbig_btn", :id => "get_started" %>
          </div>
          <!--z_input_hold-->
          <div class="z_mem"><p>Already a member?.</p>
            <span> Zip in where fast becomes faster.</span>
          </div>
          <!--z_mem-->
        </div>
    <% end %>
    <!--z-get-started ends-->
  </div>
  <!-- slider-wrapper -->
</section>