<%= javascript_include_tag "direction_map" %>
<section class="z_content2">
  <div class="z_slider_home2">
    <div class="container">
      <div class="z_track_pkg_hed">
        <h2>Package Details</h2>
      </div>
      <!--z_track_pkg_hed-->
      <div class="z_track_det z_100">
        <div class="track_hold">
          <div class="z_trck_hed z_100">
            <h1 class="f-l">Pickup Location</h1>

            <p class="f-r">Package #
              <%= @job.job_code %></p>
          </div>
          <!--z_trck_hed-->
          <div class="z_trck_list z_100">
            <h1 class="f-l">Address: <p><%= @job.pick_up_address %></p></h1>
            <h1 class="f-r">Contact: <p><%= @job.pick_up_phone %></p></h1>
          </div>
          <!--z_trck_hed-->
          <div class="z_trck_list z_100">
            <h1 class="f-l">Pickup Time: <p><%= strtime(@job.pick_up_time) %></p></h1>
            <h1 class="f-r">Size: <p><%= @job.package.name if @job.package %></p></h1>
          </div>
          <!--z_trck_hed-->
          <div class="z_trck_lst z_100">
            <h1 class="f-l">Comments:
              <p><%= @job.pick_up_comment %>
              </p></h1>
          </div>
          <!--z_trck_hed-->
        </div>
        <!--track_hold-->
        <div class="track_hold">
          <div class="z_trck_hed z_100">
            <h1 class="f-l">Package Destination</h1>

            <p class="f-r">Status: <%= @job.get_status %></p>
          </div>
          <!--z_trck_hed-->
          <div class="z_trck_list z_100">
            <h1 class="f-l">Address: <p><%= @job.destination_address %></p></h1>
            <h1 class="f-r">Contact: <p><%= @job.recipient_phone %></p></h1>
          </div>
          <!--z_trck_hed-->
          <div class="z_trck_list z_100">
            <h1 class="f-l">Pickup Time: <p><%= strtime(@job.pick_up_time) %></p></h1>
            <h1 class="f-r">Recipient: <p><%= @job.recipient_name %></p></h1>
          </div>
          <!--z_trck_hed-->
          <div class="z_trck_lst z_100">
            <h1 class="f-l">Comments:
              <p><%= @job.recipient_comment %></p></h1>
          </div>
          <!--z_trck_hed-->
        </div>
        <!--track_hold-->
      </div>
      <!--z_track_det-->
    </div>
    <!--container-->
  </div>
  <!--z_slider_home2-->
</section>
<section class="z_map" id="map-canvas">

</section>
<script type="text/javascript"
        src="//maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript">

    var geocoder;
    var map;

    var marker;
    var infoWindow = new google.maps.InfoWindow({maxWidth: 300 });

    initialize();

    function initialize() {
        var latlng = new google.maps.LatLng(-33.897, 150.099);
        var myOptions = {
            zoom: 9,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.TERRAIN,
            scrollwheel: false,
            navigationControl: false,
            mapTypeControl: false,
            scaleControl: false
        };
        map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
        var rendererOptions = { map: map };
        directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
        var point1 = new google.maps.LatLng('<%=@job.latitude%>', '<%=@job.longitude%>');
        var wps = [
            { location: point1 }
        ];

        var org = new google.maps.LatLng('<%=@job.latitude%>', '<%=@job.longitude%>');
        var dest = new google.maps.LatLng('<%=@job.dest_latitude%>', '<%=@job.dest_longitude%>');
        var request = {
            origin: org,
            destination: dest,
            travelMode: google.maps.DirectionsTravelMode.DRIVING
        };
        directionsService = new google.maps.DirectionsService();
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
                var time = '<%=@time%>';
                var content_str = "<div style='width:320px;height:90px; text-align: center'><h1 style='font-size:18px; color:#148ebb; font-weight:400; border-bottom:1px solid #ccc; padding:15px 0 10px 0;'>Your Package is Here:</h1>" + "<p style='margin:0 10px 0 0;float: left; font-size:14px; color:#000; font-weight:400; margin-right:10px;'>Estimated Delivery Time:" + "<span style='display:inline-block; color:#b3b3b3; font-weight:400;'>" + time + "</span>" + "</div>";
//                var content_str = "<h5 style='text-align: center'>ESTIMATED DELIVERY:</h5>" + "<p><b>Distance:</b> " + 20 + "   <b>Time:</b>" + 30 + "</p>";
                infoWindow.setContent(content_str)
                infoWindow.setPosition(new google.maps.LatLng('<%=@pack_lat%>', '<%=@pack_long%>'));
                infoWindow.open(map);
            }
            else
                alert('failed to get directions');
        });
    }

</script>
