<% unless current_user.super_admin? %>
    <div class="z_light_box">
    </div>
    <%= form_for(resource, :as => resource_name, :url => "/update_password", :html => {:method => :post}) do |f| %>
        <div class="box_hold_new">
          <h1 class="z_100">Change Password</h1>

          <div id="errors"></div>
          <div class="z_100">
            <div class="z_feldz">
              <%= f.password_field :current_password, :class => "fill_1-0", :placeholder => "Enter Current Password" %>
            </div>
            <!--z_feldz-->
            <div class="z_feldz">
              <%= f.password_field :password, :class => "fill_1-0", :placeholder => "Enter New Password" %>
            </div>
            <!--z_feldz-->
            <div class="z_feldz">
              <%= f.password_field :password_confirmation, :class => "fill_1-0", :placeholder => "Confirm New Password" %>
            </div>
            <!--z_feldz-->
            <div class="z_100" id="change-pass">
              <a href="#" class="z_orngbig_btn zset_pad z_100">Change Password</a><!--z_orngbig_btn-->
            </div>
            <!--box_butns-->
          </div>
          <!--z_100-->
          <a href="javascript:void(0);" class="close" onclick="close_pop_up();"><img src="/assets/box_close.png"></a>
        </div>
    <% end %>
    <!--box_hold_new-->

    <script type="text/javascript">

        $(document).ready(function () {

            var placeholder = " ";
            $("input[type=text],input[type=email],input[type=password]").focus(function () {
                placeholder = $(this).attr("placeholder");
                return $(this).attr("placeholder", " ");
            });
            $("input[type=text],input[type=email],input[type=password]").blur(function () {
                if ($(this).val() === "") {
                    return $(this).attr("placeholder", placeholder);
                }
            });

            $("#change-pass").children("a").click(function () {
                if (!$("#edit_user").valid()) {
                    return false;
                } else {
                    $.post($(this).parents("form").attr("action"), $(this).parents("form").serialize(), (function (response) {
                        if (response.success) {
                            $("#pop_up_div").html("");
                            $("#pop_up_div").html(response.html);
                        } else {
                            $("#errors").html(response.html);
                        }

                    }), "json");
                    return false;
                }
            });

        });

        $("#edit_user").validate({
            rules: {
                "user[current_password]": {
                    required: true,
                    minlength: 8
                },
                "user[password]": {
                    required: true,
                    minlength: 8
                },
                "user[password_confirmation]": {
                    required: true,
                    minlength: 8,
                    equalTo: "#user_password"
                }
            },
            messages: {
                "user[current_password]": {
                    required: "Please enter current password"
                },
                "user[password]": {
                    required: "Please enter password",
                    minlength: "Your password must be at least 8 characters long"
                },
                "user[password_confirmation]": {
                    required: "Please enter confirm password",
                    minlength: "Your password must be at least 8 characters long"

                }
            }
        });


        function close_pop_up() {
            $('.z_light_box').hide();
            $(".box_hold_new").hide();
        }
        $(".z_light_box").click(function (e) {
            $('.z_light_box').hide();
            $(".box_hold_new").hide();
        });

    </script>

<% else %>


    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
          Change Password
        </h3>
        <ul class="page-breadcrumb breadcrumb">
          <li>
            <i class="fa fa-home"></i>
            <a href="/super_admin/phone_types">Home</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a href="javascript:void(0)">Change Password</a>
          </li>

        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
      </div>
    </div>
    <!-- END PAGE HEADER-->

    <div class="row">
      <div class="col-md-6 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box blue">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-gift"></i> Edit password
            </div>
            <div class="tools">
              <a class="collapse" href="">
              </a>

            </div>
          </div>
          <div class="portlet-body form">
            <%= form_for(resource, :as => resource_name, :url => "/update_password", :html => {:method => :post}) do |f| %>
                <div id="errors"></div>
                <div class="form-body">
                  <div class="form-group">
                    <label>Password</label>

                    <div class="input-group">
                      <%= f.password_field :current_password, :class => "form-control", :placeholder => "Enter Current Password", :required => "required" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>New Password</label>

                    <div class="input-group">
                      <%= f.password_field :password, :class => "form-control", :placeholder => "Enter New Password", :required => "required" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Confirm Password</label>

                    <div class="input-group">
                      <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm New Password", :required => "required" %>
                    </div>
                  </div>
                </div>
                <div class="form-actions">
                  <!--<button class="btn blue" type="submit">Update</button>-->
                  <%#= f.submit "Save", :class => "btn blue" %>
                  <div id="save-btn">
                    <a class="btn blue" href="javascript:void(0)">Change Password</a>
                  </div>
                </div>

            <% end %>
          </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->

      </div>
    </div>

    <div class="clearfix">
    </div>

    <script type="text/javascript">

        $(document).ready(function () {

            var placeholder = " ";
            $("input[type=text],input[type=email],input[type=password]").focus(function () {
                placeholder = $(this).attr("placeholder");
                return $(this).attr("placeholder", " ");
            });
            $("input[type=text],input[type=email],input[type=password]").blur(function () {
                if ($(this).val() === "") {
                    return $(this).attr("placeholder", placeholder);
                }
            });
            $("#save-btn").children("a").click(function () {
                $.post($(this).parents("form").attr("action"), $(this).parents("form").serialize(), (function (response) {
                    if (response.success) {
                        $("#errors").html("");
                        hudMsg("success", "You password successfully changed");
                    } else {
                        $("#errors").html(response.html);
                    }

                }), "json");
                return false;

            });

        });

    </script>


<% end %>