<div class="portlet box blue">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-gift"></i>Bank Account
    </div>
    <div class="tools">
      <a class="collapse" href="javascript:;">
      </a>
      <a class="config" data-toggle="modal" href="#portlet-config">
      </a>
      <a class="reload" href="javascript:;">
      </a>
      <a class="remove" href="javascript:;">
      </a>
    </div>
  </div>
  <div class="portlet-body form">
    <!-- BEGIN FORM-->
    <form role="form" class="form-horizontal">
      <div class="form-body">

        <!--<h3 class="form-section">Pickup Location</h3>-->

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">First Name</label>

              <div class="col-md-9">
                <p class="form-control-static">
                  <%= @first_name %>
                </p>
              </div>
            </div>
          </div>
          <!--/span-->
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">Last Name:</label>

              <div class="col-md-9">
                <p class="form-control-static">
                  <%= @last_name %>
                </p>
              </div>
            </div>
          </div>
          <!--/span-->
        </div>
        <!--/row-->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">Email:</label>

              <div class="col-md-9">
                <p class="form-control-static">
                  <%= @email %>
                </p>
              </div>
            </div>
          </div>
          <!--/span-->
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">Date Of Birth:</label>

              <div class="col-md-9">
                <p class="form-control-static">
                  <%= @date_of_birth %>
                </p>
              </div>
            </div>
          </div>
          <!--/span-->
        </div>
        <!--/row-->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">Phone:</label>

              <div class="col-md-9">
                <p class="form-control-static">
                  <%= @phone %>
                </p>
              </div>
            </div>
          </div>
          <!--/span-->
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">Street Address:</label>

              <div class="col-md-9">
                <p class="form-control-static">
                  <%= @street_address %>
                </p>
              </div>
            </div>
          </div>
          <!--/span-->
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">Lcality:</label>

              <div class="col-md-9">
                <p class="form-control-static">
                  <%= @locality %>
                </p>
              </div>
            </div>
          </div>
          <!--/span-->
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">Regions:</label>

              <div class="col-md-9">
                <p class="form-control-static">
                  <%= @region %>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">ZIP:</label>

              <div class="col-md-9">
                <p class="form-control-static">
                  <%= @postal_code %>
                </p>
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">Account Number:</label>

              <div class="col-md-9">
                <p class="form-control-static">
                  <%= @account_number %>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">Routing Number</label>

              <div class="col-md-9">
                <p class="form-control-static">
                  <%= @routing_number %>
                </p>
              </div>
            </div>
          </div>
          <!--/span-->
        </div>
        <!--/row-->


      </div>
    </form>
    <!-- END FORM-->
  </div>
</div>