<div class="row">
  <div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box grey-cascade">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-globe"></i>Transactions
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="#portlet-config" data-toggle="modal" class="config">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body">

        <table class="table table-striped table-bordered table-hover" id="active_jobs">
          <thead>
          <tr>
            <th>
              Package ID
            </th>
            <th>
              Size
            </th>
            <th>
              Cost
            </th>
            <th>
              Driver Revenue
            </th>
            <th>
              Ziply Gross
            </th>
            <th>
              Braintree Fee
            </th>
            <th>
              Action
            </th>
          </tr>
          </thead>
          <% unless @jobs.blank? %>
              <tbody>
              <% @jobs.each_with_index do |job, index| %>
                  <tr class="odd gradeX">
                    <td>
                      #<%= job.job_code %>
                    </td>
                    <td>
                      <%= job.package.name.capitalize if job.package %>
                    </td>
                    <td>
                      $<%= job.transaction_history.blank? ? "%.2f" % 0 : job.transaction_history.amount.blank? ? "%.2f" % 0 : "%.2f" % job.transaction_history.amount %>
                    </td>
                    <td>
                      $<%= "%.2f" % job.transaction_history.driver_amount if job.transaction_history.driver_amount %>
                    </td>
                    <td>
                      $<%= "%.2f" % job.transaction_history.ziply_gross_revenue if job.transaction_history.ziply_gross_revenue %>
                    </td>
                    <td>
                      $<%= "%.2f" % job.transaction_history.brain_tree_fee if job.transaction_history.brain_tree_fee %>
                    </td>
                    <td>
                      <%= link_to "Package Detail", super_admin_job_path(job.id), :style => "text-decoration:none", :class => "label label-sm label-success" %>
                  </tr>
              <% end %>
              </tbody>
          <% end %>
        </table>
      </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
  </div>
</div>


<!--z_s_list-->
