<!-- BEGIN PAGE HEADER-->
<div class="row">
  <div class="col-md-12">
    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
    <h3 class="page-title">
      Manage Drivers
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <a href="/super_admin/dashboard">Home</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="/super_admin/drivers">Drivers</a>
      </li>

    </ul>
    <!-- END PAGE TITLE & BREADCRUMB-->
  </div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
  <div class="col-md-6 ">
    <!-- BEGIN SAMPLE FORM PORTLET-->
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-gift"></i> Edit Driver
        </div>
        <div class="tools">
          <a class="collapse" href="">
          </a>

        </div>
      </div>
      <div class="portlet-body form">
        <%= form_for(@user, :url => super_admin_driver_path, :method => "put") do |f| %>
            <div class="form-body">
              <% if @user.errors.any? %>
                  <div id="error_explanation" class="z_100">
                    <% @user.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
              <% end %>
              <div class="form-group">
                <label>Email</label>

                <div class="input-group">
                  <%= f.text_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email", :required => "required" %>
                </div>
              </div>
              <div class="form-group">
                <label>First Name</label>

                <div class="input-group">
                  <%= f.text_field :first_name, :autofocus => true, :class => "form-control", :placeholder => "First Name", :required => "required" %>
                </div>
              </div>
              <div class="form-group">
                <label>Last Name</label>

                <div class="input-group">
                  <%= f.text_field :last_name, :class => "form-control", :placeholder => "Last Name", :required => "required", :title => "dsadsadsa" %>
                </div>
              </div>

              <div class="form-group">
                <label>Password</label>

                <div class="input-group">
                  <%= f.password_field :password, :class => "form-control", :placeholder => "Password *" %>
                </div>
              </div>

              <% f.object.profile ||= Profile.new %>
              <%= f.fields_for :profile do |p| %>

                  <div class="form-group">
                    <label>Phone Number</label>

                    <div class="input-group">
                      <%= p.text_field :phone_number, :class => "form-control", :placeholder => "Phone Number" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Phone Number</label>

                    <div class="input-group">
                      <%= p.select :phone_type_id, PhoneType.all.map { |phone_type| [phone_type.name, phone_type.id] }, {include_blank: 'Select Phone Type'}, :class => "form-control", :required => "required" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Phone Number</label>

                    <div class="input-group">
                      <%= p.select :vehicle_type_id, VehicleType.all.map { |vehicle_type| [vehicle_type.name, vehicle_type.id] }, {include_blank: 'Select Vehicle Type'}, :class => "form-control", :required => "required" %>
                    </div>
                  </div>
                  <% p.object.asset ||= Asset.new %>
                  <%= p.fields_for :asset do |a| %>
                      <div class="form-group">
                        <label>Profile Image</label>

                        <div class="input-group">
                          <%= a.file_field :avatar, :class => "upload1", :id => "profile_dp" %>
                          <img src="/assets/default_image.png" style="height:100px;width:100px;" id="dp">
                        </div>
                      </div>
                  <% end %>
              <% end %>
            </div>
            <div class="form-actions">
              <!--<button class="btn blue" type="submit">Update</button>-->
              <%= f.submit "Update", :class => "btn blue" %>
            </div>
        <% end %>
      </div>
    </div>
    <!-- END SAMPLE FORM PORTLET-->

  </div>
</div>

<div class="clearfix">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#user_profile_attributes_phone_number").mask("999-999-9999");
    });
</script>
