<!DOCTYPE html>
<html>

<head>
  <title>Ziply</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="flash">
  <%= render :partial => "layouts/flash", :object => flash %>
</div>
<section id="g_login">
  <!--g_head ends-->
  <%= yield %>
</section>

</body>
</html>
